.MainPage {
    margin-top: 10rem;
    padding: 0 .5rem;
}
.MainPage .header {
    justify-content: space-between;
    background: var(--middle);
    padding: 1rem .5rem;
    color: var(--white);
}
.MainPage .header a {
    color: var(--white);
}
.MainPage .cards {
    padding: 1rem 0;
    justify-content: space-between;
    align-items: flex-start;
}
.MainPage .cards .mySwiper {
    display: none;
}
.MainPage .cards .mySwiper .swiper-wrapper {
    padding: .5rem 0;
}
.MainPage .cards .mySwiper .swiper-button-prev,
.MainPage .cards .mySwiper .swiper-button-next {
    background: rgba(0,0,0,0.7);
    border-radius: .5rem;
    width: 60px;
    height: 60px;
    color: orange;
    backdrop-filter: blur(2px);
    position: absolute;
    top: 10%;
}
.MainPage .cards .mySwiper .swiper-button-prev::after,
.MainPage .cards .mySwiper .swiper-button-next::after {
    font-size: 2rem;
}
.MainPage .cards .card {
    width: 33%;
    justify-content: space-between;
    align-items: flex-start;
    background: #222327;
    padding: 1rem .5rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    transition: .4s;
}
.MainPage .cards .card.mobile {
    width: 100%;
}
.MainPage .cards .card.mobile {
    flex-direction: column-reverse;
}
.MainPage .cards .card.desktop:hover {
    transform: translateY(-5%);
}
.MainPage .cards .card.desktop .text {
    width: 75%;
    align-items: flex-start;
}
.MainPage .cards .card.mobile .text {
    align-items: flex-start;
}
.MainPage .cards .card .text h2 {
    color: var(--white);
    font-family: var(--font4);
}
.MainPage .cards .card .text p {
    color: var(--white);
    font-family: var(--font3);
}
.MainPage .cards .card.mobile .text h2 {
    font-size: 20px;
    color: var(--white);
    font-family: var(--font3);
}
.MainPage .cards .card.mobile .text p {
    margin-top: .5rem;
    font-family: var(--font2);
}
.MainPage .cards .card .text button {
    margin: 1rem 4px;
    font-size: 1rem;
    background: transparent;
    color: var(--white);
    transition: .4s;
}
.MainPage .cards .card.mobile .text button {
    background: orange;
}
.MainPage .cards .card .text button:hover {
    background: orange;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
}
.MainPage .cards .card.desktop .text button #arrow {
    opacity: 0;
    transition: .4s;
}
.MainPage .cards .card .text button:hover #arrow {
    opacity: 1;
    transform: translateX(50%);
}
.MainPage .cards .card .img {
    width: 25%;
}
.MainPage .cards .card .img img {
    filter: drop-shadow(1px 2px 4px rgba(0,0,0,0.7));
}






.MainPage .con {
    margin: 2rem 0;
    justify-content: flex-start;
    align-items: flex-start;
}
.MainPage .con .skills {
    width: 25%;
    background: var(--middle);
    margin-right: 1rem;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.7);
}
.MainPage .con .skills .part {
    margin-bottom: 1rem;
    padding: .5rem;
}
.MainPage .con .skills .part .text {
    justify-content: space-between;
}
.MainPage .con .skills .part .text h2 {
    color: var(--white);
}
.MainPage .con .skills .part .text a {
    color: var(--dark);
}
.MainPage .con .skills .part .images {
    justify-content: flex-start;
    flex-wrap: wrap;
}
.MainPage .con .skills .part .images .img {
    max-width: 75px;
    margin: 4px;
    transition: .4s;
}
.MainPage .con .skills .part .images .img:hover {
    transform: scale(1.1);
}
.MainPage .con .about {
    width: 75%;
    align-items: flex-start;
}
.MainPage .con .about .me {
    width: 75%;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--white);
    padding: 1rem .5rem;
}
.MainPage .con .about .me .img {
    max-width: 400px;
}
.MainPage .con .about .me .info {
    max-width: 400px;
    padding: 1rem .5rem;
    background: var(--dark);
}
.MainPage .con .about .me .info header {
    background: var(--middle);
    color: var(--white);
    padding: .5rem;
    margin-bottom: 2rem;
}
.MainPage .con .about .me .info .input {
    position: relative;
    margin-bottom: 1.5rem;
}
.MainPage .con .about .me .info .input input {
    width: 100%;
    border-bottom: 2px solid orange;
}
.MainPage .con .about .me .info .input label {
    position: absolute;
    left: 4px;
    font-size: 20px;
    color: var(--white);
    font-family: var(--font3);
    transition: .4s;
}
.MainPage .con .about .me .info .input input:focus + label,
.MainPage .con .about .me .info .input input:not(:placeholder-shown) + label {
    transform: translateY(-100%);
    font-family: var(--font2);
    opacity: .8;
    left: .5rem;
    font-size: 1rem;
}
.MainPage .con .about .me .info .input textarea {
    border: 2px solid orange;
    padding: 1rem .5rem;
    color: var(--white);
    font-family: var(--font2);
}
.MainPage .con .about .me .info button {
    width: 100%;
    margin: unset;
    background: orange;
}
.MainPage .con .about .me .info button:hover {
    background: rgb(255, 180, 40);
}
.MainPage .con .about .contact {
    width: 25%;
    height: 200px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.7);
}
.MainPage .con .about .contact .earch {
    align-items: flex-start;
    padding: .5rem;
}
.MainPage .con .about .contact .earch .info {
    justify-content: flex-start;
}
.MainPage .con .about .contact .earch .info .img {
    max-width: 50px;
}
.MainPage .con .about .contact .earch .info h2 {
    color: var(--white);
    font-weight: 100;
}
.MainPage .con .about .contact .earch h3 {
    color: var(--white);
    font-family: var(--font4);
    font-weight: 100;
}





@media (max-width: 1200px) {
    .MainPage .cards {
        flex-wrap: wrap;
    }
    .MainPage .cards .card.desktop {
        width: 49%;
        margin-bottom: 1rem;
    }

    .MainPage .con .about {
        flex-direction: column;
    }
    .MainPage .con .about .me {
        width: 100%;
        margin-bottom: 2rem;
    }
    .MainPage .con .about .contact {
        width: 100%;
        max-width: 400px;
    }
}
@media (max-width: 780px) {
    .MainPage .cards .card.desktop {
        width: 100%;
        margin-bottom: 1rem;
    }

    .MainPage .con {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .MainPage .con .skills {
        width: 100%;
        margin-bottom: 2rem;
        margin-right: unset;
    }
    .MainPage .con .about {
        width: 100%;
    }
}   
@media (max-width: 480px) {
    .MainPage .header {
        background: transparent;
        padding: 0 .5rem;
    }
    .MainPage .cards {
        padding: 4px 0;
    }
    .MainPage .cards .mySwiper {
        display: flex;
    }
    .MainPage .cards .card.desktop {
        display: none;
    }
    .MainPage .cards .card.mobile {
        min-height: 340px;
        justify-content: flex-end;
    }
    .MainPage .cards .card.mobile .img {
        width: 100%;
        max-width: 120px;
    }


    .MainPage .con .about .me {
        flex-direction: column;
    }
    .MainPage .con .about .me .info,
    .MainPage .con .about .me .img {
        max-width: unset;
    }
}